{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Меню
{% endblock %}



{% block content %}
    <h1>Приложение Гороскоп</h1>
    <ul>
        {% for sign in zodiac %}
            <li><b><a href="{% url 'horoscope-name' sign=sign %}">{{ sign|title }}</a></b></li>
        {% empty %}
            <p>Sorry, the zodiac signs list is empty</p>
        {% endfor %}
    </ul>
{% endblock %}